.card__model{
    margin: 15px;
    border: 1px solid #cccc;
    padding: 15px;
    border-radius: 5px;
    transition: 150ms;
}
.card__model:hover{
    background-color: rgba(40, 88, 96, 0.8);
    color: white;
    cursor: pointer;
    border-color: rgba(40, 88, 96, 0.8);
}